<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <form action="/new-organization" method="post">
            <!-- Organization Name -->
            <div class="form-group">
                <label for="name">Organization Name</label>
                <input type="text" name="name" id="name">
            </div>
            <!-- Description -->
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description"></textarea>
            </div>
            <!-- Email -->
            <div class="form-group">
                <label for="contactEmail">Contact Email</label>
                <input type="text" name="contactEmail" id="contactEmail">
            </div>

            <button type="submit">Create Organization</button>

        </form>
    </main>
    <%- include('partials/footer') %>