<%- include('../partials/header') %>
    <main>
        <h1>Page Not Found</h1>
        <p>The page you're looking for does not exist!</p>
        <p>Go back to <a href="/">Home</a> to continue browsing.</p>
    </main>
    <%- include('../partials/footer') %>